---
layout: default_minimal
refactor: true
---

{% include lang.html %}



<div class="markdown-heading" dir="auto">
  <h1 class="heading-element" dir="auto">Hi <animated-image data-catalyst=""><a target="_blank"
        rel="noopener noreferrer nofollow"
        href="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
        data-target="animated-image.originalLink"><img
          src="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
          alt="" style="max-width: 100%; display: inline-block;" data-target="animated-image.originalImage"></a>
      <span class="AnimatedImagePlayer" data-target="animated-image.player" hidden="">
        <a data-target="animated-image.replacedLink" class="AnimatedImagePlayer-images"
          href="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
          target="_blank">

          <span data-target="animated-image.imageContainer">
            <img data-target="animated-image.replacedImage" alt="176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
              class="AnimatedImagePlayer-animatedImage"
              src="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
              style="display: block; opacity: 1;">
            <canvas class="AnimatedImagePlayer-stillImage" aria-hidden="true" width="66"
              height="59"></canvas></span></a>
        <button data-target="animated-image.imageButton" class="AnimatedImagePlayer-images" tabindex="-1"
          aria-label="Play 176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif" hidden=""></button>
        <span class="AnimatedImagePlayer-controls" data-target="animated-image.controls" hidden="">
          <button data-target="animated-image.playButton" class="AnimatedImagePlayer-button"
            aria-label="Play 176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif">
            <svg aria-hidden="true" focusable="false" class="octicon icon-play" width="16" height="16"
              viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4 13.5427V2.45734C4 1.82607 4.69692 1.4435 5.2295 1.78241L13.9394 7.32507C14.4334 7.63943 14.4334 8.36057 13.9394 8.67493L5.2295 14.2176C4.69692 14.5565 4 14.1739 4 13.5427Z">
              </path>
            </svg>
            <svg aria-hidden="true" focusable="false" class="octicon icon-pause" width="16" height="16"
              viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect x="4" y="2" width="3" height="12" rx="1"></rect>
              <rect x="9" y="2" width="3" height="12" rx="1"></rect>
            </svg>
          </button>
          <a data-target="animated-image.openButton"
            aria-label="Open 176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif in new window"
            class="AnimatedImagePlayer-button"
            href="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
            target="_blank">
            <svg aria-hidden="true" class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
              height="16">
              <path fill-rule="evenodd"
                d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z">
              </path>
            </svg>
          </a>
        </span>
      </span></animated-image>My name is Akshay Nikhare</h1>

</div>
<hr/>
<p dir="auto"> <b> Full Stack Developer | Shopware 6 Specialist | Vue.js  &amp; Product Design Enthusiast </b>
</p>
<br/>

<p dir="auto">Self-taught, Innovative Shopware Developer , with 11 years of professional experience, including the last 5 years in tech,
  I specialize in Vue.js, SQL, PHP, git ,svn , npm and Docker, excelling at crafting dynamic user experiences. Equipped with a Computer Science degree and a relentless drive for innovation.
  Expertise in frontend and backend development, theme customization, plugin development, UI/UX design, responsive design, performance optimization, e-commerce functionality, testing, debugging, and client collaboration.
  I love fixing bugs and finding solutions quickly. I thrive in collaborative environments, mentoring junior developers and driving projects from concept to completion.</p>
<ul dir="auto">
  <li>🌍&nbsp; I'm based in India</li>
  <li>🖥️&nbsp; See my portfolio at <a href="https://akshaynikhare.github.io/portfolio/" rel="nofollow">github pages</a>
  </li>
  <li>✉️&nbsp; You can contact me at <a href="mailto:akshay@cadnative.com">akshay@cadnative.com</a></li>
  <li>🧠&nbsp; I'm learning Android App Development</li>
  <li>🤝&nbsp; I'm open to collaborating on Shopware 6 &amp; Angular</li>
  <li>⚡&nbsp; As a side project, I'm currently developing <a
      href="https://github.com/akshaynikhare/FireVisionIPTV">FireVisionIPTV</a>.
  </li>
</ul>
<div class="markdown-heading" dir="auto">
  <h3 class="heading-element" dir="auto">Support Me / Hire me</h3>

  <p dir="auto"><a href="https://www.buymeacoffee.com/akshayvict0" rel="nofollow"><img
        src="https://camo.githubusercontent.com/cace41b0afc90c68d0207e2bd809ee121f9ff4f72ac032e8ced972aee7adbb23/68747470733a2f2f63646e2e6275796d6561636f666665652e636f6d2f627574746f6e732f76322f64656661756c742d79656c6c6f772e706e67"
        width="150" data-canonical-src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
        style="max-width: 100%;" alt="buy me a coffee"></a>
    <a href="https://www.upwork.com/freelancers/~017f2cc5c3af16f399" rel="nofollow"><img
        src="https://raw.githubusercontent.com/akshaynikhare/akshaynikhare/main/images/upwork-default-buy.png"
        width="150" style="max-width: 100%;" alt="upwork"></a>
    <a href="https://www.fiverr.com/slox47" rel="nofollow"><img
        src="https://raw.githubusercontent.com/akshaynikhare/akshaynikhare/main/images/fiverr-default-buy.png"
        width="150" style="max-width: 100%;" alt="fiverr"></a>
  </p>
</div>
<div class="markdown-heading" dir="auto">
  <h3 class="heading-element" dir="auto">Skills</h3>
  <p align="left" dir="auto">
    <a href="https://git-scm.com/" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/git-colored.svg"
        width="36" height="36" alt="Git" style="max-width: 100%;"></a><a
      href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg"
        width="36" height="36" alt="JavaScript" style="max-width: 100%;"></a><a href="https://www.php.net/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/php-colored.svg"
        width="36" height="36" alt="PHP" style="max-width: 100%;"></a><a href="https://www.oracle.com/java/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/java-colored.svg"
        width="36" height="36" alt="Java" style="max-width: 100%;"></a><a href="https://www.gnu.org/software/bash/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/gnubash.svg"
        width="36" height="36" alt="GNU Bash" style="max-width: 100%;"></a><a href="https://code.visualstudio.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/visualstudiocode.svg"
        width="36" height="36" alt="VS Code" style="max-width: 100%;"></a><a href="https://www.vim.org/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/vim.svg"
        width="36" height="36" alt="Vim" style="max-width: 100%;"></a><a
      href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg"
        width="36" height="36" alt="HTML5" style="max-width: 100%;"></a><a href="https://vuejs.org/" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/vuejs-colored.svg"
        width="36" height="36" alt="Vue" style="max-width: 100%;"></a><a href="https://nuxtjs.org/" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nuxtjs-colored.svg"
        width="36" height="36" alt="Nuxtjs" style="max-width: 100%;"></a><a href="https://angular.io/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/angularjs-colored.svg"
        width="36" height="36" alt="Angular" style="max-width: 100%;"></a><a href="https://jquery.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/jquery-colored.svg"
        width="36" height="36" alt="JQuery" style="max-width: 100%;"></a><a href="https://sass-lang.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/sass-colored.svg"
        width="36" height="36" alt="Sass" style="max-width: 100%;"></a><a href="https://mui.com/" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/materialui-colored.svg"
        width="36" height="36" alt="Material UI" style="max-width: 100%;"></a><a href="https://webpack.js.org/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/webpack-colored.svg"
        width="36" height="36" alt="Webpack" style="max-width: 100%;"></a><a href="https://nodejs.org/en/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nodejs-colored.svg"
        width="36" height="36" alt="NodeJS" style="max-width: 100%;"></a><a href="https://www.mongodb.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mongodb-colored.svg"
        width="36" height="36" alt="MongoDB" style="max-width: 100%;"></a><a href="https://www.mysql.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mysql-colored.svg"
        width="36" height="36" alt="MySQL" style="max-width: 100%;"></a><a
      href="https://www.adobe.com/uk/products/photoshop.html" rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/photoshop-colored.svg"
        width="36" height="36" alt="Photoshop" style="max-width: 100%;"></a><a href="https://www.figma.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/figma-colored.svg"
        width="36" height="36" alt="Figma" style="max-width: 100%;"></a><a href="https://wordpress.com"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/wordpress-colored.svg"
        width="36" height="36" alt="Wordpress" style="max-width: 100%;"></a><a href="https://www.docker.com/"
      rel="nofollow"><img
        src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/docker-colored.svg"
        width="36" height="36" alt="Docker" style="max-width: 100%;"></a>
  </p>
</div>
<div class="markdown-heading" dir="auto">
  <h3 class="heading-element" dir="auto">Socials</h3>

  <p align="left" dir="auto"> <a href="https://www.github.com/akshaynikhare"> <themed-picture
        data-catalyst-inline="true" data-catalyst="">
        <picture>
          <source media="(prefers-color-scheme: dark)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github-dark.svg">
          <source media="(prefers-color-scheme: light)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg">
          <img
            src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg"
            width="32" height="32" style="visibility:visible;max-width:100%;" alt="github">
        </picture>
      </themed-picture> </a> <a href="https://akshaynikhare.hashnode.dev" rel="nofollow"> <themed-picture
        data-catalyst-inline="true" data-catalyst="">
        <picture>
          <source media="(prefers-color-scheme: dark)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/hashnode-dark.svg">
          <source media="(prefers-color-scheme: light)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/hashnode.svg">
          <img
            src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/hashnode.svg"
            width="32" height="32" style="visibility:visible;max-width:100%;" alt="hashnode">
        </picture>
      </themed-picture> </a> <a href="https://www.linkedin.com/in/akshay-nikhare/" rel="nofollow"> <themed-picture
        data-catalyst-inline="true" data-catalyst="">
        <picture>
          <source media="(prefers-color-scheme: dark)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin-dark.svg">
          <source media="(prefers-color-scheme: light)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin.svg">
          <img
            src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin.svg"
            width="32" height="32" style="visibility:visible;max-width:100%;" alt="hashnode">
        </picture>
      </themed-picture> </a> <a href="https://www.medium.com/@akshay.victrans" rel="nofollow"> <themed-picture
        data-catalyst-inline="true" data-catalyst="">
        <picture>
          <source media="(prefers-color-scheme: dark)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/medium-dark.svg">
          <source media="(prefers-color-scheme: light)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/medium.svg">
          <img
            src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/medium.svg"
            width="32" height="32" style="visibility:visible;max-width:100%;" alt="medium">
        </picture>
      </themed-picture> </a> <a href="https://www.x.com/akshay_nikhare" rel="nofollow"> <themed-picture
        data-catalyst-inline="true" data-catalyst="">
        <picture>
          <source media="(prefers-color-scheme: dark)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitter-dark.svg">
          <source media="(prefers-color-scheme: light)"
            srcset="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitter.svg">
          <img
            src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitter.svg"
            width="32" height="32" style="visibility:visible;max-width:100%;" alt="twitter">
        </picture>
      </themed-picture> </a></p>
</div>
<div class="markdown-heading" dir="auto">
  <h3 class="heading-element" dir="auto">Badges</h3>
</div>
<p dir="auto"><b>My GitHub Stats</b></p>
<p dir="auto"><a href="https://www.github.com/akshaynikhare"><img
      src="https://camo.githubusercontent.com/3b5080cac16bb689bf0806562528a6e45b0245f6a9f6314ab6fba0be8797dc7f/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170693f757365726e616d653d616b736861796e696b686172652673686f775f69636f6e733d7472756526686964653d26636f756e745f707269766174653d74727565267469746c655f636f6c6f723d30383931623226746578745f636f6c6f723d3030303030302669636f6e5f636f6c6f723d3038393162322662675f636f6c6f723d66666666666626686964655f626f726465723d747275652673686f775f69636f6e733d74727565"
      alt="akshaynikhare's GitHub stats"
      data-canonical-src="https://github-readme-stats.vercel.app/api?username=akshaynikhare&amp;show_icons=true&amp;hide=&amp;count_private=true&amp;title_color=0891b2&amp;text_color=000000&amp;icon_color=0891b2&amp;bg_color=ffffff&amp;hide_border=true&amp;show_icons=true"
      style="max-width: 100%;"></a></p>
<p dir="auto"><a href="https://www.github.com/akshaynikhare"><img
      src="https://camo.githubusercontent.com/990d10af653ab9bfc2f0b2b13539598753282abfa2b60bc36b466fd99e115838/68747470733a2f2f6769746875622d726561646d652d73747265616b2d73746174732e6865726f6b756170702e636f6d2f3f757365723d616b736861796e696b68617265267374726f6b653d303030303030266261636b67726f756e643d6666666666662672696e673d30383931623226666972653d303839316232266375727253747265616b4e756d3d303030303030266375727253747265616b4c6162656c3d30383931623226736964654e756d733d30303030303026736964654c6162656c733d3030303030302664617465733d30303030303026686964655f626f726465723d74727565"
      alt="akshaynikhare's GitHub stats"
      data-canonical-src="https://github-readme-streak-stats.herokuapp.com/?user=akshaynikhare&amp;stroke=000000&amp;background=ffffff&amp;ring=0891b2&amp;fire=0891b2&amp;currStreakNum=000000&amp;currStreakLabel=0891b2&amp;sideNums=000000&amp;sideLabels=000000&amp;dates=000000&amp;hide_border=true"
      style="max-width: 100%;"></a></p>
<p dir="auto"><a href="https://github.com/akshaynikhare" align="left"><img
      src="https://camo.githubusercontent.com/23b6b2d6e843fc730ae0ee5da7d2fec0984dfc02fcf8c80841d8940a5baf321d/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170692f746f702d6c616e67732f3f757365726e616d653d616b736861796e696b68617265266c616e67735f636f756e743d3130267469746c655f636f6c6f723d30383931623226746578745f636f6c6f723d3030303030302669636f6e5f636f6c6f723d3038393162322662675f636f6c6f723d66666666666626686964655f626f726465723d74727565266c6f63616c653d656e26637573746f6d5f7469746c653d546f70253230254c616e677561676573"
      alt="Top Languages"
      data-canonical-src="https://github-readme-stats.vercel.app/api/top-langs/?username=akshaynikhare&amp;langs_count=10&amp;title_color=0891b2&amp;text_color=000000&amp;icon_color=0891b2&amp;bg_color=ffffff&amp;hide_border=true&amp;locale=en&amp;custom_title=Top%20%Languages"
      style="max-width: 100%;"></a></p>
